// Imported and Custom Fonts
    //Avenir
    
    /*@font-face {
        font-family: 'Avenir';
        src: url("/App_Themes/Hollows/Fonts/avenir-med-2F387C_0_0.eot");
        src: url("/App_Themes/Hollows/Fonts/avenir-med-2F387C_0_0.eot?#iefix") format("embedded-opentype"),url("/App_Themes/Hollows/Fonts/avenir-med-2F387C_0_0.woff2") format("woff2"),url("/App_Themes/Hollows/Fonts/avenir-med-2F387C_0_0.woff") format("woff"),url("/App_Themes/Hollows/Fonts/avenir-med-2F387C_0_0.ttf") format("truetype");
        font-weight: 400;
        font-stlye: normal;
    }

    @font-face {
        font-family: 'Avenir';
        src: url("/App_Themes/Hollows/Fonts/avenir-lt-2F387C_6_0.eot");
        src: url("/App_Themes/Hollows/Fonts/avenir-lt-2F387C_6_0.eot?#iefix") format("embedded-opentype"),url("/App_Themes/Hollows/Fonts/avenir-lt-2F387C_6_0.woff2") format("woff2"),url("/App_Themes/Hollows/Fonts/avenir-lt-2F387C_6_0.woff") format("woff"),url("/App_Themes/Hollows/Fonts/avenir-lt-2F387C_6_0.ttf") format("truetype");
        font-weight: 300;
    }

    @font-face {
         font-family: 'Avenir';
         src: url("/App_Themes/Hollows/Fonts/avenir-blk-2F387C_4_0.eot");
         src: url("/App_Themes/Hollows/Fonts/avenir-blk-2F387C_4_0.eot?#iefix") format("embedded-opentype"),url("/App_Themes/Hollows/Fonts/avenir-blk-2F387C_4_0.woff2") format("woff2"),url("/App_Themes/Hollows/Fonts/avenir-blk-2F387C_4_0.woff") format("woff"),url("/App_Themes/Hollows/Fonts/avenir-blk-2F387C_4_0.ttf") format("truetype");
         font-weight: 900;
    }*/

    // Open Sans
    //@import url('http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,200');