// Imported and Custom Fonts
    //Avenir
    
    /*@font-face {
        font-family: 'Avenir';
        src: url("../fonts/avenir-med-2F387C_0_0.eot");
        src: url("../fonts/avenir-med-2F387C_0_0.eot?#iefix") format("embedded-opentype"),url("../fonts/avenir-med-2F387C_0_0.woff2") format("woff2"),url("../fonts/avenir-med-2F387C_0_0.woff") format("woff"),url("../fonts/avenir-med-2F387C_0_0.ttf") format("truetype");
        font-weight: 400;
        font-stlye: normal;
    }