/******************************************************************

Site Name: Boilerplate

Stylesheet: Mixins

Mixins and Constants

******************************************************************/

/*********************
BORDER RADIUS
*********************/

/* USAGE: @include border-radius(4px 4px 0 0); */

@mixin border-radius($radius...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-border-radius: $radius;
  }
  border-radius: $radius;
}

/******************
  Root em mixin for IE8
******************/
@mixin rem($sizeValue: 1.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


/*********************
ROTATE
*********************/

/* USAGE: @include border-radius(4px 4px 0 0); */

@mixin rotate($degrees) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transform: rotate($degrees);
  }
  transform: rotate($degrees);
}
/******************
  Transform
*******************/

@mixin transform($value) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transform: $value;
  }
  transform: $value;
}


/*********************
TRANISTION
*********************/

/* USAGE: @include transition(all 0.2s ease-in-out); */

@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }
  transition: $transition;
}

/*********************
BOX SHADOWS
*********************/

/* USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22)); */

@mixin box-shadow($shadow...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-box-shadow: $shadow;
  }
  box-shadow: $shadow;
}



/*********************
CSS3 GRADIENTS
*********************/

/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

/*********************
BOX SIZING
*********************/

/* USAGE: @include box-sizing(border-box); */

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing:    $type;
  -ms-box-sizing:     $type;
  box-sizing:         $type;
}

/*********************
  Retina image mixin
*********************/
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

/*********************
  Quick media query. min-width only.
*********************/
@mixin minMedia($minWidth){
  @media(min-width: $minWidth){
    @content;
  }
}
/*********************
OPACITY
*********************/

/* USAGE: @inlcude opacity(0.5); */ 

@mixin opacity($opacity) {
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})"); 
  opacity: $opacity;
}

/********************
  Work wrap - Mostly relevent for long urls on mobile
********************/
@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/********************
  Ellipsos (low browser support)
********************/
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}