/******************************************************************

Author: Patrick Shelley
Stylesheet: Variables Stylesheet

Variables used accross all sass stylesheets

******************************************************************/

// Text
// Weights
$light: 300;
$regular: 400;
$bold: 900;
// Font Families
$fontFamily: Helvetica, Arial;
    
// Colours
$white: #fff;
$black: #000;
$text: #333;
$error: #E82A2A;
$success: #2C963A;

