/******************************************************************

Site Name: RBG Hollows
Author: Patrick Shelley

Stylesheet: Global Header Stylesheet

******************************************************************/
.header{
	text-align: center;
}