// Text
	// Weights
	$light: 300;
	$regular: 400;
	$bold: 900;
	
	// Font Families
	$fontFamily: Helvetica, Arial;
	    
	// Colours
	$white: #fff;
	$black: #000;
	$text: #333;
	$error: #E82A2A;
	$success: #2C963A;

	$colour-link: orange;
	$colour-link-hover: #666;

