/********
	Footer taken from existing site
********/

footer {
    width: 100%;
    clear: both;
    width: 100%;
    overflow: hidden;
    background: #FFF;

    .sponsors {
    	max-width: 1195px;
    	margin: 0 auto;
    	border-bottom: 2px solid #f0f1e8;
    	padding: 30px 40px;
    	text-align: center;

    	img {
    		display: inline-block;
    		margin: 0 10px 20px;
            width: 120px;
            height: auto;
    	}

    	span {
    		display: inline-block;
    		width: 282px;
            @include rem(1.4);
            vertical-align: top;
    	}
    }
}

.footer-shaded {
    background-color: #e6e7e5
}

@media (max-width: 1024px) and (min-width: 320px) {
    .footer-shaded {
        float:left;
        width: 100%
    }
}

.footer-links {
    margin: auto;
    text-align: center;
    list-style: none;
    background-color: #e6e7e5;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 40px;

    .large {
        @include rem(1.8);
    }
}

.footer-links a {
    text-decoration: none
}

.footer-links li {
    display: inline-block;
    margin-right: 28px
}

@media (max-width: 1024px) and (min-width: 320px) {
    .footer-links {
        float:left;
        width: 100%;
        text-align: left;
        padding-left: 0
    }

    .footer-links li {
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding-left: 25px;
        margin: 0
    }
}

@media (max-width: 720px) {
    .footer-links li {
        width:100%;
        padding-left: 20px;
        padding-top: 10px
    }
}

.TemplateHome .footer-tools {
    margin-top: 0
}

.footer-tools {
    padding: 40px 0;
    // border-top: 1px solid #f2f2f2;
    // margin-top: 40px
}

@media (max-width: 720px) {
    .footer-tools .subscribe {
        margin-top:20px
    }
}

.footer-tools .subscribe>div {
    display: inline-block;
    float: left
}

.footer-tools .subscribe .sign-up-footer {
    text-transform: uppercase;
    display: block;
    text-align: left;
    margin-top: 4px
}

.footer-tools .details {
    display: inline-block;
    font-size: .85em;
    margin-top: 7px;
    margin-left: 20px
}

.footer-tools .details a {
    position: relative;
    height: 20px;
    vertical-align: middle
}

.footer-tools .details a:after {
    content: '';
    position: absolute;
    right: -20px;
    top: -2.5px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center
}

.footer-tools .details span {
    display: block
}

.footer-tools .details span.park {
    text-transform: uppercase;
    font-weight: bold
}

@media (max-width: 720px) {
    .footer-tools .details {
        width:50%;
        margin-left: 18px
    }
}

.footer-tools .logo {
    vertical-align: top
}

.footer-tools .stamp,.footer-tools>div:not([class]),.footer-tools .social {
    display: inline-block
}

.footer-tools .stamp {
    margin-left: 6%;
    padding-right: 3%;
    border-right: 1px solid #f2f2f2
}

@media (max-width: 720px) {
    .footer-tools .stamp {
        display:block;
        clear: both;
        box-sizing: border-box;
        border-left: 0;
        padding: 3.5% 0 3.5% 0;
        margin: 0 3.5%;
        border-right: 0;
        border-bottom: 1px solid #f2f2f2
    }
}

@media (max-width: 1024px) and (min-width: 721px) {
    .footer-tools .stamp {
        display:block;
        clear: both;
        box-sizing: border-box;
        border-left: 0;
        padding: 3.5% 0 3.5% 0;
        margin: 0 3.5%;
        border-bottom: 1px solid #f2f2f2;
        border-right: 0
    }
}

.footer-tools .stamp .logo {
    width: 100px
}

.footer-tools>div:not([class]) {
    text-align: left;
    margin-left: 3.5%;
    vertical-align: top
}

@media (min-width: 1025px) {
    .footer-tools>div:not([class]) {
        min-width:23.5%
    }
}

@media (max-width: 1100px) and (min-width: 1025px) {
    .footer-tools>div:not([class]) {
        margin-left:.5%
    }
}

@media (max-width: 720px) {
    .footer-tools>div:not([class]) {
        width:100%;
        text-align: right;
        box-sizing: border-box;
        margin-left: 0;
        padding: 0 20px 0 3.5%
    }
}

.footer-tools>div:not([class]) label {
    visibility: hidden;
    display: block;
    margin: 0
}

@media (max-width: 1024px) and (min-width: 721px) {
    .footer-tools>div:not([class]) {
        border-left:0;
        margin-top: 20px;
        min-width: 42%
    }
}

.footer-tools>div:not([class]) input[type="text"] {
    border: none;
    background-color: #f2f2f2;
    padding: 0 9px;
    height: 40px;
    width: 150px;
    display: inline-block;
    font-family: 'AvenirLT-Medium',Arial,sans-serif
}

@media (max-width: 720px) {
    .footer-tools>div:not([class]) input[type="text"] {
        width:82%;
        position: absolute
    }
}

.footer-tools>div:not([class]) input[type="submit"] {
    color: #fff;
    background-color: #6e7822;
    padding: 0 10px;
    border: none;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    font-size: 0.750em;
    height: 40px;
    vertical-align: top
}

@media (max-width: 720px) {
    .footer-tools>div:not([class]) input[type="submit"] {
        position:relative;
        z-index: 2;
        float: none
    }
}

@media (max-width: 1024px) and (min-width: 721px) {
    .footer-tools .social,.footer-tools>div:not([class]) {
        width:50%;
        margin-left: 0;
        padding-left: 3%;
        box-sizing: border-box;
        float: left;
        padding-bottom: 35px
    }
}

.footer-tools .social {
    vertical-align: top;
    min-width: 24%;
    border-left: 1px solid #f2f2f2;
    height: 100px;
    padding-left: 2%;
    min-width: 22%
}

.footer-tools .social ul {
    list-style: none;
    padding-left: 0;
    margin-top: 30px
}

.footer-tools .social ul li {
    width: 25%;
    float: left;
    display: inline-block
}

.footer-tools .social:before {
    display: none
}

.footer-tools .social a {
    height: 25px;
    width: 25px;
    background-size: initial;
    display: block;
}

@media (max-width: 720px) {
    .footer-tools .social {
        display:block;
        clear: both;
        box-sizing: border-box;
        border-left: 0;
        padding: 3.5% 0 3.5% 0;
        margin: 0 3.5%
    }
}

@media (max-width: 1024px) and (min-width: 721px) {
    .footer-tools .social {
        margin-top:20px;
        min-width: 42%;
        padding-bottom: 20px
    }
}

.footer-tools .social .connect {
    display: block;
    text-transform: uppercase;
    font-size: .85em;
    margin-top: 4px;
    margin-bottom: 12px
}

@media (max-width: 720px) {
    .footer-tools .social .connect {
        padding-top:24px;
        border-top: 1px solid #f2f2f2
    }
}

@media (max-width: 720px) {
    .footer-tools .social .connect {
        margin-bottom:21px
    }
}

.footer-tools .social .social-buttons {
    margin-right: 6%;
    color: #FFF;
    background: #5e6268;
    text-decoration: none;
    @include border-radius(50%);
    @include rem(1.5);

    &:before{
    	position: relative;
    	top: 4px;
    	left: 2px;
    }
}

@media (max-width: 720px) {
    .footer-tools .social .social-buttons {
        box-sizing:border-box;
        float: left;
        margin-right: 13%
    }
}

.footer-tools .social .social-buttons:last-child {
    margin-right: 0
}

.footer-tools .social .facebook {
    background-position: 1px center
}

.footer-tools .social .twitter {
    background-position: -23px center
}

.footer-tools .social .instagram {
    background-position: -47px center
}

.footer-tools .social .flickr {
    background-position: -71px center
}

.footer-tools .social .youtube {
    background-position: -95px center
}